/* Description.css */
.description-strip {
  background-color: #006CA9;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 200px; /* Adjusted padding */
  padding-right: 300px; /* Added padding-right to match outer container */
}



.description-strip p {
  margin-top: -20px;
  margin-bottom: 50px;;
  font-size: 40px;
  text-align: left;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: -.05cap;
}


/* Media query for smaller screens */
@media (max-width: 1000px) {
  .description-strip {
    padding-left: 20px;
    padding-right: 20px; /* Adjusted padding for smaller screens */
  }
}
.description-strip .small {
  font-size: 20px;
  font-weight:normal;
}