/* Default styles */
.outer {
  display: flex;
  background-color: #EFF1F5;
  color: #080101;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 70px;
  padding-bottom: 150px;
}

.MainData-strip {
  flex: 1;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 50px;
  padding: 50px; /* Adjusted padding */
  display: flex; /* Center content vertically */
  flex-direction: column; /* Ensure content stacks vertically */
  justify-content: center; /* Center content vertically */
  margin-top: -150px;

}

.MainData-strip h1 {
  text-align: left;
  font-size: 2em;
  margin-top: 0; /* Ensure no top margin */
  margin-bottom: 20px; /* Add margin for separation */
}

.MainData-strip p {
  font-size: 1.2em;
  text-align: left;
  margin-top: 0; /* Ensure no top margin */
}

/* Media query for smaller screens */
@media (max-width: 1200px) {
  .outer {
    padding-left: 150px;
    padding-right: 150px;
  }

  .MainData-strip {
    margin-right: 30px;
    padding: 40px; /* Adjusted padding */
  }
}

@media (max-width: 992px) {
  .outer {
    padding-left: 100px;
    padding-right: 100px;
  }

  .MainData-strip {
    margin-right: 20px;
    padding: 30px; /* Adjusted padding */
  }
}

@media (max-width: 768px) {
  .outer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .MainData-strip {
    margin-right: 0;
    margin-bottom: 20px; /* Add margin between boxes in smaller screens */
    padding: 20px; /* Adjusted padding */
  }
}
.inline-link {
  color: black; /* Set the link color to black */
  text-decoration: none; /* Remove the underline */
}

.inline-link:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}

