/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box;
  }
  
  /* Container for skill bars */
  
 
  .container {
    position: relative;
    background-color: #ddd;
    width: 100%;
    margin-top: 10px;
}
.skills.html .green-bar {
    background-color: #006CA9;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    color: #006CA9;
}
.circle-container0 {
  width: 73.5%; 
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 190px;
}
  .circle-container {
    display: flex;
    
    padding-top: 25px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
   

  }
  .circle-container2 {
    flex: 1;
    
  }
  .circle1 {
    background-color: #006CA9;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 16px; 
    align-items: center;
  }
  .circle2 {
    background-color: #006CA9;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 16px; 
    align-items: center;
  }
  .circle3 {
    background-color: #006CA9;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 16px; 
    align-items: center;
  }
  .circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .circle4 {
    background-color: #006CA9;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 16px; 
    align-items: center;
  }
  .circle5 {
    background-color: #006CA9;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 16px; 
    align-items: center;
  }
  .circle6 {
    background-color: #006CA9;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 16px; 
    align-items: center; 
  }
  .resultsstrip
  {
    background-color: #006CA9;
    height:50px;
  }
  .resultssmall
  {
    color:rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 15px;
    
  }
  .resultsouter {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #EFF1F5;
    height:280px;
    
    
  }
  .resultsouter2 {
    padding-top: 50px;
    font-size: 50px;
    font-weight: 700;
    color:#143056;
    width: 50%;
    line-height: 50px;
    
  }
  .resultsouter22 {
    margin-top: 10px;
    color:#143056;
    width: 50%;
    font-weight: bold;
    font-size: 30px;
    
  }
  .resultsouter3 {
   margin-top: 10px;
    color:#143056;
    width: 50%;
   
  }

  .resultsouter5a {
    display: flex;
    width: 100%;
    padding-right: 190px;
    padding-left: 190px;
    
  }
  .resultsouter5 {
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1; 
    margin-top: 40px;
    margin-right: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .resultsouter4 {
  width: 100%;
 
  
   
  }
  .resultsouter4 p {
    padding-top: 10px;
    margin: 0;
  }
  .resultsouter5 p {
   
    margin: 0;
    
    
  }
  

  